* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  display: flex;
}

.cards {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

.cards img {
  display: block;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .cards {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
